/* ************** Reseteo CSS *************** */
* {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}

/* *************** Toda la pagina body *************** */
body {
    min-height: 100vh;
    background-image: url("../img/fondo-home.jpg");
    background-repeat: no-repeat;
    background-size:cover;
}

h1 {
    text-align: center;
    color: #fff;
}

a {
    text-decoration: none;
    color: #fff;
}

ul {
    list-style: none;
}

img {
    max-width: 50px;
}

/* ************* DESKTOP FIRST ************** */

/* ************ Grilla Principal del Body *************** */

/* ***   Se definen las areas del Grid *** */
#grilla-body {
    display: grid;
    grid-template-areas: 
        "cabecera cabecera cabecera"
        "parrafo parrafo parrafo"
        "footer footer footer";
    grid-template-columns: repeat(3, 1fr);
}

/* *** Header *** */
#header {
    grid-area: cabecera;

    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 5em;
    background-color: rgb(74, 81, 122);
}

#navegacion {
    display: flex;
    gap: 2.5em
}

/* *** Parrafo *** */
#seccion-home {
    grid-area: parrafo;

    display: flex;
    gap: 2rem;
    margin: 5%;
}

#parrafo-home {
    color: rgb(74, 81, 122);
    font-weight: 600;
    font-size: 1.2rem;
}

#img-home {
    max-width: 200px;
    max-height: 200px;
    
}

/* *** Footer *** */

#footer {
    grid-area: footer;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(74, 81, 122);    
    margin-top: auto;
    position: sticky;
    top: 100%;
    
}

#footer a {
    color: #fff;
}

#navegacion-footer {
    display: flex;
    gap: 3rem;
    
}

/* *** Media Queries ***************************************************************************** */

@media screen and (max-width: 800px) {
    #header {
        padding-top: 1.5rem;
        flex-direction: column;
    }

    a {
        color: rgb(74, 81, 122);
    }

    #navegacion {
        font-weight:bold;
        margin-top: 2rem;
        /* margin-bottom: 2rem; */
        font-size: 1rem;
    }

    #seccion-home {
        padding: 1rem;
    }
}

@media screen and (max-width: 450px) {
    #grilla-body {
    display: grid;
    grid-template-areas: 
        "cabecera"
        "parrafo"
        "footer";
    grid-template-columns: 1fr;
}
    #header {
        grid-area: cabecera;
        display: flex;
        flex-direction: column;
        height: 1.5em;
    }
    h1 {
        font-size: 0.7rem;
    }
    .logo {
        display: none;
    }
    a {
        color: rgb(74, 81, 122);
    }
    #navegacion {
        flex-direction: row;
        font-weight:bold;
        margin-top: 1.5rem;
        font-size: 0.7rem;
    }
    #seccion-home {
        margin-top: 1rem;
        padding: 1rem;
        font-size: 0.5rem;
    }
    #img-home{
        display: none;
    }
}

@media screen and (max-width: 322px){
   #grilla-body {
    display: grid;
    grid-template-areas: 
        "cabecera"
        "parrafo"
        "footer";
    grid-template-columns: 1fr;
}
    #header {
        grid-area: cabecera;
        display: flex;
        flex-direction: column;
        height: 1em;
    }
    h1 {
        font-size: 0.7rem;
        padding-top: 2em;
    }
    .logo {
        display: none;
    }
    a {
        color: rgb(74, 81, 122);
    }
    #navegacion {
        flex-direction: row;
        font-weight:bold;
        margin-top: 1rem;
        font-size: 0.5rem;
    }
    #seccion-home {
        margin-top: 2rem;
        padding: 1rem;
    }

    #seccion-home #parrafo-home{
        font-size: 0.7rem;
    }
    #img-home{
        display: none;
    }

    #navegacion-footer a{
        font-size: .5rem;

    }
}
